<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Urban Skiers</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<header>
	<div class="navbar2">
		<img src="us-logo.png" class="logo2">
			<ul class="navul">
				<li class="navli">Welcome, <%= @user.fname %>
				<li class="navli"><a href="/homepage">Home</a>
				<li class="navli"><a href="/profile">Profile</a>
				<li class="navli"><a href="/connections">Connections</a>
				<li class="navli"><a href="/">Log Out</a>
			</ul>
	</div>
</header>	
<body>
	<div class="bodycontainer">	
		<div class="bodyleftcontainer">
			<div class="profilephoto">
			</div>
			<div class="namedisplay">
				<h2>
					<%= @user.fname %> <%= @user.lname %>
				</h2>
			</div>
		</div>

		<div class="bodyrightcontainer">
			<div class="shareupdate">
				<form method="post" action="/post">
					<input type="text" name="text" placeholder="Share an update or an upcoming ski trip...." class="resizedposttextbox">
					<input type="submit" value="post" id="post" />
				</form>
			</div>
			<div class="communityfeed">
				<% if @posts %>
				<ul>
					<% @posts.each do |post| %>
					<li class="communityposts">
						<b><%= post.user.fname %> <%= post.user.lname %> posted on </b>
						<br> <%= post.text %> 
						<br> <a href=<%= "/post/#{ post.id }/delete" %> class="delete">Delete</a>
					</li>
					<% end %>
				</ul>
				<% end %>
			</div>
		</div>
	</div>

</body>

</html>